* {
  font-family: inherit;
}

/* ? showo description input with animation */

.showInput {
  animation: showSmooth .4s ease-in-out;
}

@keyframes showSmooth {
  0% {
    transform: translateY(1000%);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
